@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Tinos:400,400i&amp;subset=cyrillic');

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  padding: 10px 0px;
  margin: 0px;
}

.field-box {
  border: 2px solid #d0d0d0;
  float: left;
}

.field {
  display: grid;
  grid-template-columns: repeat(0, 1fr); /* will be changed in js */
  grid-template-rows: repeat(0, 1fr); /* will be changed in js */
  position: relative;
  width: 1024px;
  height: 640px;
}

.field .tile {
  background-image: url('../../public/img/tile.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.field .tile-w {
  background-image: url('../../public/img/tile-w.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.field .tile-e {
  background-image: url('../../public/img/tile-e.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.field .tile-p {
  background-image: url('../../public/img/tile-p.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.field .tile-hp {
  background-image: url('../../public/img/tile-hp.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
}

.field .tile-sw {
  background-image: url('../../public/img/tile-sw.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
}

.field .tile .health {
  background-color: #ff0000;
  z-index: 11;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 3px;
}

.field .tile-p .health {
  background-color: #00ff00;
  z-index: 11;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 3px;
}

.inventory-box {
  border: 2px solid #d0d0d0;
  float: left;
}

.inventory {
  position: relative;
  width: 800px;
  height: 32px;
}

.cl {
  clear: both;
  display: block;
}
